<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Form for New Blog</h1>
    <form action="/blogs" method="POST" >
        <input name="blog" placeholder="Blog here" type="text">
        <input name="author" placeholder="Author here" type="text" >
        <button type="submit">Add</button>
    </form>
</body>
</html>