div{
    border: 1px solid black;
    background-color: beige;
    border-radius: 5px;
}
div h1{
    font-family: monospace;
}
div h2{
    color: red;
}
div p{
    font-weight: 500;
    font-size: 14px;
}